.Pagination {
  margin: 2rem 0;
}
.Pagination__list {
  .page-link {
    border-color: $borderColor;
    color: $darkColor;
  }
  .page-item {
    margin-right: 1rem;
    &:first-child, &:last-child {
      .page-link {
        border: none;
        border-radius: 0;
        font-size: 2rem;
        padding: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      .page-link {
        background-color: $firstColor;
        border-color: $firstColor;
        color: white;
      }
    }
    &:focus, &:hover {
      .page-link {
        background-color: $firstColor;
        border-color: $firstColor;
        color: white;
      }
    }
    &.disabled {
      .page-link {
      }
    }
  }
}
