.Sidebar {
  background-color: $firstColor;
  height: 100%;
  left: -100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: left .3s ease-out;
  width: 80%;
  z-index: 99;
  &.active {
    left: 0;
  }
  .Header__nav {
    height: 100%;
  }
  .Header__list {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    li {
      margin-bottom: 3rem;
      margin-right: 0;
      text-align: center;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.Sidebar__close {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 25px;
  top: 25px;
}
