.Tabs {
  margin: 1rem 0;
}
.Tabs__nav {
  border-bottom: none;
  margin-bottom: 1.5rem;
  li {
    flex: 1 1 auto;
    font-family: $helvetica-light;
    font-size: 1.125rem;
    text-align: center;
    &.nav-item {
      margin-bottom: 0;
    }
    a {
      background-color: $firstColor;
      color: rgba(white, .6);
      &.nav-link {
        border: none;
        border-radius: 0;
        &:focus, &:hover {
          background-color: darken($firstColor, 10%);
          border: none;
          color: white;
        }
        &.active {
          background-color: darken($firstColor, 10%);
          border-left: 4px solid $secondColor;
          color: white;
        }
      }
    }
  }
  .nav-link {
    @media screen and (max-width: 991px) {
      padding: 1rem;
    }
  }
}
.Tabs__body {
  border: 1px solid $borderColor;
  //border: 1px solid lighten($borderFormColor, 20%);
  background-color: white;
  padding: .8rem;
}
.Tabs__pane {
}
