// Colors:
$firstColor: #29547a; //
$secondColor: #7bc14f; //
$thirdColor: #5d93bc; //
$accentColor: #dd6800;
$darkColor: #3c3c3c; //
$blackColor: #222222;
$borderColor: #939292; //
$textColor: #767676; //
$bodyBg: #ffffff; //

// Fonts:
$openSans: 'Open Sans', sans-serif;
